In [118]:
import pandas as pd

In [119]:
reaction_df = pd.read_csv('Reactions.csv')
reaction_types_df = pd.read_csv('ReactionTypes.csv')
content_df = pd.read_csv('Content.csv')

In [120]:
reactions = reaction_df.drop("Unnamed: 0", axis=1)
reactions = reaction_df.drop("Category", axis=1)
reactions

,Unnamed: 0,Content ID,Reaction Type,Datetime
0,0,NaN,NaN,NaN
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13
...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55

In [121]:
reaction_types_df

       Reaction Type Sentiment  Score
0    0         heart  positive     60
1    1          want  positive     70
2    2       disgust  negative      0
3    3          hate  negative      5
4    4    interested  positive     30
5    5   indifferent   neutral     20
6    6          love  positive     65
7    7    super love  positive     75
8    8       cherish  positive     70
9    9         adore  positive     72
10  10          like  positive     50
11  11       dislike  negative     10
12  12     intrigued  positive     45
13  13       peeking   neutral     35
14  14        scared  negative     15
15  15       worried  negative     12

In [122]:
contents = content_df.drop("Unnamed: 0", axis=1)
contents

                               Content ID Content Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   Healthy Eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   Healthy Eating
3    356fff80-da4d-4785-9f43-bc1261031dc6        photo       Technology
4    01ab84dd-6364-4236-abbb-3f237db77180        video             Food
..                                    ...          ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb        video  Public Speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c          GIF       Technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b        audio         Veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7          GIF          Culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56        audio       Technology

[1000 rows x 3 columns]

In [123]:
# Merge Content DataFrame with Reaction DataFrame
merged_df = pd.merge(reactions, contents, on='Content ID', how='inner')
merged_df.drop("Unnamed: 0", axis=1)

,Content ID,Reaction Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,17-06-2021 12:22,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,18-04-2021 05:13,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,23-08-2020 12:25,photo,Studying
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,27-06-2020 09:46,audio,Technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,16-02-2021 17:17,audio,Technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,12-09-2020 03:54,audio,Technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,04-11-2020 20:08,audio,Technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,04-01-2021 04:55,audio,Technology

In [124]:
# Merge Reaction Types DataFrame with the merged DataFrame
merged_df = pd.merge(merged_df, reaction_types_df, on="Reaction Type", how='inner', suffixes=('_left', '_right'))
merged_df

,Unnamed: 0,Content ID,Reaction Type,Datetime,Content Type,Category,,Sentiment,Score
0,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,07-11-2020 09:43,photo,Studying,2,negative,0
1,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,06-01-2021 19:13,photo,Studying,2,negative,0
2,35,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,09-04-2021 02:46,photo,Studying,2,negative,0
3,52,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,28-03-2021 21:15,photo,Healthy Eating,2,negative,0
4,88,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,04-08-2020 05:40,photo,Healthy Eating,2,negative,0
...,...,...,...,...,...,...,...,...,...
24568,25489,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,04-10-2020 22:26,audio,Veganism,9,positive,72
24569,25491,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,18-09-2020 10:50,audio,Veganism,9,positive,72
24570,25512,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,31-10-2020 03:58,GIF,Culture,9,positive,72
24571,25524,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,25-06-2020 15:12,GIF,Culture,9,positive,72
24572,25531,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,17-12-2020 16:32,GIF,Culture,9,positive,72

In [132]:
category_scores = merged_df.groupby('Category')['Score'].sum()
category_scores

Category
Animals            74965
Cooking            64756
Culture            66579
Dogs               52511
Eductaion          57436
Fitness            55323
Food               66676
Healthy Eating     69339
Public Speaking    49264
Science            71168
Soccer             57783
Studying           54269
Technology         68738
Tennis             50339
Travel             64880
Veganism           49619
Name: Score, dtype: int64

In [133]:
sorted_category_scores = category_scores.sort_values(ascending=False)
sorted_category_scores

Category
Animals            74965
Science            71168
Healthy Eating     69339
Technology         68738
Food               66676
Culture            66579
Travel             64880
Cooking            64756
Soccer             57783
Eductaion          57436
Fitness            55323
Studying           54269
Dogs               52511
Tennis             50339
Veganism           49619
Public Speaking    49264
Name: Score, dtype: int64

In [134]:
top_5_categories = sorted_category_scores.head(5)
top_5_categories

Category
Animals           74965
Science           71168
Healthy Eating    69339
Technology        68738
Food              66676
Name: Score, dtype: int64

In [ ]:
Category
Animals           
Science           
Healthy Eating  
Technology       
Food

In [ ]:
sorted_category_scores.to_csv('Top_5_Categories.csv', index=False)